body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    background-color: #dddddd;
    overflow-x: hidden;
}

:root {
    --accent-color: #dc7404;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#logo {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--accent-color);
    margin: 15px;
    margin-left: 30px;
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0106;
}

nav ul {
    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    margin: 15px;
}

nav a {
    color: white;
    position: relative;
}

nav li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--accent-color);
    display: block;
    position: absolute;
    margin-top: 1.5px;
}

nav li a:hover::after {
    width: 100%;
    transition: all 0.2s;
}

nav li a.active::after{
    width: 100%;
}

/****/

h1 {
    text-align: center;
}

.mock-data {
    margin: 40px;
}

.mock-data img {
    height: 180px;
    margin: 20px;
}

.data-component .metadata {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
}

.data-component .info {
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info {
    width: 30%;
}

.info .artist {
    color: var(--accent-color);
    font-weight: 800;
    font-size: large;
}

.info p {
    width: 100%;
}

.info i {
    color: var(--accent-color);
}

iframe {
    height: 142px;
}

/** footer **/
footer {
    width: 100%;

    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 25px;
}

footer p {
    font-size: 14px;
    margin: 8px;
}

.social-icons i {
    margin: 10px;
    font-size: 1.1rem;
    color: white;
}
